.seite {
    background-color: rgb(253, 243, 230);
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    
}
@keyframes slideInLeft {
  from {
      transform: translateX(-400px);
  
  }
  to {
      transform: translateX(0)
  }
}
@keyframes slideInRight {
  from {
      transform: translateX(600px);
  
  }
  to {
      transform: translateX(0)
  }
}

.heading {
    font-family: Cambria;
    font-weight: bold;
    color: rgb(62, 114, 67);
    /* margin-top: 5px;
    padding-top: 5px; */
    display: flex;
    justify-content: left;
    align-items: center;
}

.schrift1 {
    font-size: 1.3rem;
    font-family: Cambria;
    font-weight: bold;
    margin-bottom: 5vh;
    padding-top: 2vh;
    animation-name: slideInLeft;
    animation-duration: 1s ;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count:1 ;
    animation-direction:normal ;
    animation-fill-mode:none ;
}

td {
    text-align: left;
    margin-right: 8px;
    animation-name: slideInRight;
    animation-duration: 1s ;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count:1 ;
    animation-direction:normal ;
    animation-fill-mode:none ;
}

.rounded {
    max-width: 5vw;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-right: 30vw;
}
.dings{
    display: flex;
    justify-content: left;
    align-items: left; 
}

#menuToggle {
    display: block;
    position: relative;
    top: 50px;
    left: 50px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
}

#menuToggle a:hover {
    color: rgb(210, 130, 212);
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #cdcdcd;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;
    transition: trasform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    background: 0.5 cubic-bezier(0.77, 0.2, 0.05, 1.0);
    opacity: 0.55s ease;
}
#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: absolute;
  max-width: 400px;
  width: 100vw;
  max-height: 100vh;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  box-sizing: border-box;
  overflow-y: auto;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
