.seite {
    /* background-color:rgb(252, 234, 211); */
    /* font-size: 20px; */
    background-color: rgb(253, 243, 230);
    margin-top: 5vhs;

    /* padding-left: 50px;
    padding-right:50px */
}
@keyframes slideInTop {
   from{
       transform: translateY(-80px)

   }
    to{
        transform: translateY(0)
    }
   
}

.placeholder{
    color:  rgb(212, 157, 205);
}

.schachmuster {
    background-color: rgb(253, 243, 230);
    /* width: 100vw ; */
    height: 20vh;
    margin-left: 10vw;
    margin-right: 10vw
}
.bild1{
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content:left;
    align-items: center;
    width: 79.5vw;
    
    
}

.box {
    background-color: rgb(236, 184, 223);
    height: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;

}

.box2 {
    background-color: rgb(90, 112, 75);
    width: 15vw;
    height: 40vh;
    /* margin-left: 10vw;
    margin-right: 10vw */
}

.box3 {
    background-color: rgb(212, 157, 205);
    /* margin-top: -26.6vw; */
    width: 49vw;
    height: 40vh;
    /* margin-left: 25vw;
    margin-right: 10vw; */
    display: flex;
    /* justify-content: center;
    align-items: center;   */
    font: 1em Cambria;

}
tr{
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    justify-content: left;
    align-items: left;
    max-width: 20vw ;
    
}
.o{
   
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
    margin-left:2vw ;
    margin-right: 2vw;
    animation-name: slideInTop;
    animation-duration: 1s ;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count:1 ;
    animation-direction:normal ;
    animation-fill-mode:none ;
   
}
tbody{
    display: flex;
    justify-content:left;
    align-items: center;
    
    
}
/* .p{
    background-color:  rgb(212, 157, 205) ;
    width: max-content; */
/* } */

.h1 {
    text-align: center;
    margin: 50px;
    margin-top: 4vh;
    padding-bottom: 70px;
}

.liste1 {
    list-style: none;
}

.text-about-me {
    margin-left: 120px;
    margin-top: 50px;
    color: rgb(34, 63, 30)
}

.text-page {
    margin-left: 220px;
    color: rgb(34, 63, 30)
}

.box4 {
    background-color: rgb(90, 112, 75);
    /* margin-top: -26.6vw; */
    width: 15vw;
    height: 40vh;
    /* margin-left: 73.9vw;
    margin-right: 30vw */
}

.box5 {
    background-color: rgb(236, 184, 223);
    height: 2vh;
    margin-left: 10vw;
    margin-right: 10vw
}

.schachmuster2 {
    background-color: rgb(253, 243, 230);
    /* width: 100vw ; */
    /* margin-bottom: -50vh; */
    height: 20vh;
    margin-left: 10vw;
    margin-right: 10vw;
    color: rgb(51, 97, 45);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-schrift{
    font-size: 2rem;
}
.button-link{
    text-decoration: none;
    color: rgb(247, 247, 247);
}


.button-navbar {
    font-family: Cambria;
    /* font-size: x-small; */
    color: rgb(247, 247, 247);
    border-radius: 50%;
    border-color: rgb(62, 114, 67);
    border-bottom-color: rgb(143, 212, 150);
    border-right-color: rgb(105, 202, 92);
    background-color: rgb(64, 128, 56);
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vh;
    margin-left: 10vh;
    padding-top: 10px;
    transition: transform 0.3s;

}
.button-navbar:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-10px);
    background-color:  rgb(69, 116, 42);
    
    
}

.button-navbar1 {
    font-family: Cambria;
    font-size: x-small;
    color: rgb(247, 247, 247);
    border-radius: 50%;
    border-color: rgb(62, 114, 67);
    border-bottom-color: rgb(143, 212, 150);
    border-right-color: rgb(105, 202, 92);
    background-color: rgb(64, 128, 56);
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vh;
    margin-left: 11vh;
    padding-top: 10px;
    transition: transform 0.3s;

}
.button-navbar1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-10px);
    background-color:  rgb(69, 116, 42);

}

.button-navbar2 {
    font-family: Cambria;
    font-size: x-small;
    color: rgb(247, 247, 247);
    border-radius: 50%;
    border-color: rgb(62, 114, 67);
    border-bottom-color: rgb(143, 212, 150);
    border-right-color: rgb(105, 202, 92);
    background-color: rgb(64, 128, 56);
    border-width: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10vh;
    margin-left: 11vh;
    padding-top: 10px;
    transition: transform 0.3s;

}
.button-navbar2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-10px);
    background-color:  rgb(69, 116, 42);
}
.button-schrift1{
    font-size: 3.5rem;
    margin-top:4vh;

}
table{
    width: 100vw;
    height: 200wh;
}